/* Reset default margin and padding */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}


/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}




header {
    background-color: #f4f4f4;
    box-shadow: 0px 2px 4px rgba(35, 19, 19, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logo img {
    height: 60px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}


nav li {
    margin-right: 20px;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
nav a::after{
    content:'';
    width:0;
    height: 3px;
    background-color: #c0392b;
    margin :auto;
    display: block;

}
nav a:hover::after{
    width:100%;
    transition: width 0.3s line;
}
 

h1 {
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
    padding: 20px;
}

h2 {
    color: #060606;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}
.featured-products{
    display:flex;
    justify-content: center;
    padding: 1rem;

}


footer {
    margin-top: 6px;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
   
}
